[init]
	defaultBranch = main
[alias]
	tr = log --graph --all --oneline --decorate
	str = log --graph --all --oneline --decorate --simplify-by-decoration
	mtr = "!f() { git log --graph --all --oneline --decorate --max-count=$1;}; f"
	mstr = "!f() { git log --graph --all --oneline --decorate --simplify-by-decoration --max-count=$1;}; f"
	st = status
	cm = commit -m
	cma = commit --amend
	rb = rebase
	rbc = rebase --continue
	rbi = rebase --interactive
	rba = rebase --abort
	co = checkout
	cpick = cherry-pick
	rt = remote
	rtv = remote -v
	addu = add -u
	addup = add -u --patch
	btr = log --oneline --graph --decorate
	rva = revert --abort
	rvc = revert --continue
	mrc = merge --continue
	mra = merge --abort
	sw = switch
	swc = switch --create
[user]
	name = ctmbl
	email = mabileau.clement@gmail.com
[pull]
	rebase = false
